<div class="container">
  <h1>Create Client</h1>
  <p><b>Please fill this form and submit to add the customer to the database.</b></p>

  <form #clientForm = "ngForm" class="formWrapper" (ngSubmit)="addClient(clientForm.value)">
    <input type="text" name="name" placeholder="Name:" ngModel> <br>
    <input type="text" name="phoneNumber" placeholder="Phone Number:" ngModel> <br>
    <input type="text" name="address" placeholder="Address:" ngModel> <br>
    <div class="button_container">
      <button type="submit">
        Add Client
      </button>
      <button (click)="onCancel()">Cancel</button>
    </div>
  </form>
</div>
