<ul>
  <li>
    <div class="insideSwitcher">
      <p>Droids</p>
      <button (click)="onDroids()">
        GO
      </button>
    </div>
  </li>
  <li>
    <div class="insideSwitcher">
      <p>Clients</p>
      <button (click)="onClients()">
        GO
      </button>
    </div>
  </li>
  <li>
    <div class="insideSwitcher">
      <p>Purchases</p>
      <button (click)="onPurchases()">
        GO
      </button>
    </div>
  </li>
  <li>
    <div class="insideSwitcher">
      <p>Receipts</p>
      <button (click)="onReceiepts()">
        GO
      </button>
    </div>
  </li>
  <li>
    <div class="insideSwitcher">
      <p>Report</p>
      <button (click)="onReport()">
        GO
      </button>
    </div>
  </li>
</ul>
